<mat-accordion *ngIf="messageService.getMessages().length">
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Messages</mat-panel-title>
      <mat-panel-description>
        {{ messageService.getMessages().length }} record(s)
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let message of messageService.getMessages()">{{message}}</mat-list-item>
      <button class="clear" mat-raised-button color="warn" (click)="messageService.clear()">
        Clear messages
      </button>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
